{% load static %}
<head>
    <title>TUMS Cafe</title>
    <link rel="stylesheet" href="{% static 'CSS/HomePage.css' %}">
    <link rel="script" href="{% static 'JS/HomePage.js' %}">
</head>

<body>
   
    

<div id="whole">
    <div id="control">
        <img src="/media/media/signup-icon-13.png" onclick="signup()">
        <img src="/media/media/shopping-cart-icon.png" onclick="Cart()">
        <img src="/media/media/comments.png" onclick="Comments()">


    </div>
 <div id="conteiner" onclick="getback()">
    {% block content %}
    {% endblock content %} 
 </div> 
</div>

<div id="comments">
 {% for comment in comments %}
<div class="comment">
  <h2 style="margin-left: 10px;">{{comment.user}}:</h2>
  <div class = commenttext>  
  <h5 style="margin-left: 10px;">{{comment.comment}}
  </h5>
</div>
</div>
 {% endfor %}
</div>

<div id="Cart">
  {% if user.is_authenticated %}
  
  {% for object in items %}
  <!-- <h3 style="display: inline; ;margin-bottom: 15px;">{{object}}</h3> -->
  <form action="{%url 'DeleteCartItem' object.id%}">
   <label for="delete" style="font-size: larger; margin-left: 10px;"><b>{{object}}</b></label>
  <button class="delete"></button><br>
</form>
  {% endfor %}
  <h2 style="margin-right: 20px; float: right;">{{price}}T</h2>
  <form action="{% url 'NewOrder' %}">
    <button id="submit">Submit</button>
  </form>
  {% else %}
    <h2 style="margin-left: 10px;">please login first!</h2>
  {% endif %}
</div>


<div id="user">
  <h2 style="margin-left: 10px;">Sign up:</h2>
<div id="signup">
    <form action="/submit/user/" method="get">
        <input type="text" id="username" name="username" placeholder="Enter your username"  required>
        <input type="password" id="password" name="password" placeholder="Enter your password"  required>
        <input type="email" id="email" name="email" placeholder="Enter your email"  required>
        <input type="submit"></form>
    
    
    
    </div>
    <h2 style="margin-left: 10px;">Sign in:</h2>
<div id="login">

  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
 

<input type="text"  name="username" placeholder="Enter your Username">
<input type="password"  name="password" placeholder="Enter your Password">
<input type="submit" value="login">

  <input type="hidden" name="next" value="{{ next }}">
</form>
</form>
<h2 style="margin-left: 10px;">Log out:</h2>

    <form action="/accounts/logout/">
      <button id="logout" onclick="window.alert('Loged out successfully')">Log out</button>
    </form>
</div>
</div>
 <script type="text/javascript" src="{% static 'JS/HomePage.js' %}"></script>   
</body>