{% extends "HomePage.html" %}
{% load static %}
<head>
    
    <title>TUMS Cafe</title>
</head>


{% block content %}
    {% for Type in type_list %}
    
        <div class = "Menu" id = "{{Type.Name}}">
            {% for object in Type.type_objects %}
                <div class="Product" id = "{{ object.Name }}" style="background: url({{object.photo.url}}); background-size: cover;">
                    <h1 class="name"> {{object.Name}} </h1>
                    <p class="price"> {{object.Price}} T</p> 
                    <form method="get" action="{% url 'Product_detail' object.id %}">                  
                    <button>add to cart</button>
                    </form> 
                </div>


            {% endfor %}
        </div>
    {% endfor %}
   
{% endblock content %}
